/* header */
.textoCentralizado{
    text-align: center;
}
.beetwen{
    display: flex;
    justify-content: space-between;
}
.w33{
    width: 33%;
}
.linha{
    display: flex;
    flex-wrap: wrap;
}
.coluna{
    margin: auto auto;
    width: 46vw;
    border: 1px solid black;
    padding: 0.8vw;
    padding-bottom: 10px;
    margin-bottom: 3px;
}
.coluna img{
    width: 40vw;
}
.p5pxtop{
    padding-top: 5px;
    padding-BOTTOM: 10px;
    font-size: 12px;
    text-align: center;
}