.camisaModelo{
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
#tituloModelo{
    font-size: 20px;
    text-align: center;
}
#descricaoModelo{
    font-size: 16px;
    text-align: center;
}
h4{
    text-align: center;
}
h2{
    text-align: center;
}
h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}
#mb{
    margin-top: 80px;
    margin-bottom: 30px;
}
select{
    height: 40px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
button{
    margin-top: 20px;
    height: 40px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}