@font-face {
    font-family: 'calvino';
    src: url(../fonts/Calvino-Grande-Black-trial.ttf);
}
.texto05{
    width: 350px;
}
.white{
    color: white;
}
.flexB{
    display: flex;
    justify-content: space-between;

}
.flexC{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.cursor-p{
    cursor: pointer;
}
.center{
    display: flex;
    justify-content: center;
}
.p5pxtop{
    padding-top: 5px;
}
.flexR{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.coluna{
    padding: 50px;
}
.p1010{
    padding-right: 10vw;
    padding-left: 10vw;
}