@font-face {
    font-family: 'calvino';
    src: url(../fonts/Calvino-Grande-Black-trial.ttf);
}
.white{
    color: white;
}
.flexB{
    display: flex;
    justify-content: space-between;
}
.flexC{
    display: flex;
    flex-direction: column;
}
.cursor-p{
    cursor: pointer;
}
.center{
    display: flex;
    justify-content: center;
}
