.texto05{
    width: 350px;
}
.white{
    color: white;
}
.flexB{
    display: flex;
    justify-content: space-between;
}
.flexC{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.cursor-p{
    cursor: pointer;
}
.center{
    display: flex;
    justify-content: center;
}
.p5pxtop{
    padding-BOTTOM: 10px;
    padding-top: 5px;
    font-size: 12px;
    text-align: center;
}
.flexR{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flexR1{
    display: flex;
    justify-content: center;
}
.p1010{
    padding-right: 10vw;
    padding-left: 10vw;
}
/* SESSÃO 04 */
.coluna{
    width: 400px;
    padding: 80px;
    padding-top: 190px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.textoColunas{
    height: 130px;
}