#convite{
    background-image: url("../svg/convite.svg");
    margin: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* SESSÃO 01 */
#s01{
    height: 700px;
    background-image: url("../images/back.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-left: 100px;
    padding-right: 100px;
}
/* SESSÃO 02 */
#s02{
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
}
#s02 article {  
    align-items: center;
    padding-bottom: 30px;
}
#texto01{
    width: 1069px;
}
#headVideo{
    width: 60vw;
    padding: auto auto;
}
#loja{
    padding-bottom: 12.5px;
    padding-right: 2vw;
}
#titulo{
    width: 350px;
}
#data{
    width: 280px;
    text-align: center;
    padding-top: 30px;
}
#texto01{
    text-align: center;
    padding-top: 50px;
}
#colum2{
    display: flex;
    justify-content: center;
}
#colum2 .colunas{
    padding: 30px;
    padding-top: 60px;
}
#convite{
    align-items: center;
    padding-top: 60px;
    padding-bottom: 130px;
}
#convite img{
    padding-bottom: 50px;
}
#hr{
    border: 1.2px solid black;
}
#botaoI{
    padding-right: 20px;
    width: 400px;
}
/* SESSÃO 03 */
#convite{
    width:1069px
}

/* SESSÃO 04 */
