@font-face {
    font-family: 'calvino';
    src: url(../fonts/Calvino-Grande-Black-trial.ttf);
}
#s01{
    height: 700px;
    background-image: url("../images/back.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-left: 100px;
    padding-right: 100px;
}
#s02{
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
}
#s02 article {  
    align-items: center;
    padding-bottom: 30px;
}
#loja{
    padding-bottom: 12.5px;
    padding-right: 2vw;
}
#data{
    width: 300px;
    text-align: center;
    padding-top: 30px;
}
#texto01{
    text-align: center;
    padding-top: 50px;
}
#colum2{
    display: flex;
    justify-content: center;
}
#colum2 .colunas{
    padding: 30px;
    padding-top: 60px;
}