@media only screen and (max-width: 600px){
    /* SESSÃO 01 */
    #s01{
        height: 530px;
    }
    #titulo{
        width: 250px;
    }
    #data{
        width: 180px;
    }
    .flexB{
        flex-direction: column;
        justify-content: space-between;
    }
    #s01 .flexB{
        height: 450px;
        padding-bottom: 40px;
    }
    .flexB article{
        text-align: center;
    }
    .cursor-p{
        width: 100%;
    }
    /* FIM SESSÃO 01 */
    /* SESSÃO 02 */
    #s02{
        padding-top: 70px;  
        padding-bottom: 0px;
    }
    #headVideo{
        width: 85VW;
    }
    .flexC{
        justify-content: center ;
    }
    iframe{
        width: 100%;
        height: 250px;
    }
    #texto01 img{
        width: 90%;
        padding-bottom: 20px;
    }
    #colum2{
        flex-direction: column;
    }
    .colunas img{
        margin-right: 50px;
        margin-left: 50px;
        align-items: center;
    }
    .textoColunas{
        height: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #colum2 .colunas{
        padding: 20px;
        padding-top: 0px;
    }
    #texto01{
        width: 80vw;
        padding: 10vw;
    }
    /* FIM SESSÃO 02 */
    /* SESSÃO 03 */
    #convite{
        padding-top: 10px !important;
        padding: 5vw;
        width: 90vw;
    }
    #botaoI{
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 3vh;
    }
    /* SESSÃO 04 */
    #metade{
        width: 50%;
    }
    .coluna{
        width: 45vw;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        padding-top: 50px;
    }
    #convite{
    background-image: url("../svg/conviteMobile.svg") !important;
    background-repeat: no-repeat; 
    background-position: center;     
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:50px;
    width:90vw;
    }
}