@media only screen and (max-width: 600px){
    /* SESSÃO 01 */
    #s01{
        height: 600px;
    }
    #titulo{
        width: 250px;
    }
    #data{
        width: 180px;
    }
    .flexB{
        flex-direction: column;
        justify-content: space-between;
    }
    #s01 .flexB{
        height: 450px;
    }
    .flexB article{
        text-align: center;
    }
    /* FIM SESSÃO 01 */
}